# MongoDB connection string (e.g., from MongoDB Atlas)
MONGODB_URI=mongodb+srv://tanmay:tanmay@cluster0.f1fusyw.mongodb.net/?appName=Cluster0

# JWT Secret for authentication
JWT_SECRET=your_jwt_secret_key

# Easebuzz Payment Gateway Keys (Test Environment)
EASEBUZZ_KEY=2JRJU40RU
EASEBUZZ_SALT=3UW7CPPBT
EASEBUZZ_ENV=test

# Resend API Key for emails
RESEND_API_KEY=re_hnWedhMu_Dw6KTiw8qiXXmKQN7FByugvq

# Server Port
PORT=3001
